[aws]
aws_region_name = us-east-1

[vpc BaylorSage]
master_subnet_id = subnet-31d30d69
vpc_id = vpc-57376533

[global]
update_check = true
sanity_check = true
cluster_template = BaylorSage


[ebs BaylorSage]
volume_size = 500
volume_type = gp2

[cluster BaylorSage]
vpc_settings = BaylorSage
key_name = BaylorSage
custom_ami = ami-2bdf1d3d
compute_instance_type = c3.4xlarge
master_instance_type = m3.medium
cluster_type = spot
spot_price = 0.3
initial_queue_size = 2
max_queue_size = 5
ebs_settings = BaylorSage
